[include]
  path = .gitconfig.local

[init] 
  defaultBranch = main 

[commit]
  gpgSign = true 

[gpg] 
  program = gpg 

[core]
  excludesFile = ~/.gitignore.global
  editor = nvim
  pager = diff-so-fancy | less
	; sparseCheckout = true

[advice]
	addIgnoredFile = false

[merge]
  conflictstyle = diff3
	tool = vimdiff

[diff]
  colorMoved = default

[branch] 
  autosetuprebase = remote 

[pull]
	rebase = true

[fetch]
	recurseSubmodules = true
  ; prune = true 

[push] 
  autoSetupRemote = true 
;   default = simple 

[rebase] 
  autoStash = true 

; [advice]
; 	addIgnoredFile = false

; [http]
; 	sslVerify = true
; 	sslBackend = gnutls

; [credential]
	; interactive = false
	; credentialStore = gpg
	; helper = /usr/local/bin/git-credential-manager

[alias]
  head   = rev-parse HEAD
  logd   = log  --color  --graph  --abbrev-commit  --pretty=format:'%Cred%h%Creset  -%C(yellow)%d%Creset  %s  %Cgreen(%cD)  %C(bold  blue)<%an>%Creset'
  logg   = log  --color  --graph  --abbrev-commit  --pretty=format:'%Cred%h%Creset  -%C(yellow)%d%Creset  %s  %Cgreen(%cr)  %C(bold  blue)<%an>%Creset'
  logi   = log  --color  --graph  --abbrev-commit  --pretty=format:'%Cred%h%Creset  -%C(yellow)%d%Creset  %s  %Cgreen(%ci)  %C(bold  blue)<%an>%Creset'
  undo   = "!f()  {  git  reset  --hard  $(git  rev-parse  --abbrev-ref  HEAD)@{${1-1}};  };  f"

